@model surf_spotter_dot_net_core.Models.Account.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Surf Spotter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width-device, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="CSS/navBarSheet.css" /> 
    <link rel="stylesheet" href="CSS/loginSheet.css" type="text/css">
    <link rel="stylesheet" href="CSS/footerSheet.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">

</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <ul>
                    <li><a href="Index">Hjem</a></li>
                    <li><a href="spots">spots</a></li>
                    <li><a href="Aboutus">Om os</a></li>
                    <li><a href="Kontakt">Kontakt</a></li>
                    <li><a href="login">Login</a></li>

                </ul>
            </div>
        </nav>
    </header>
   
    <div class= "login">
        <div class="container">

            <div class="login-form">
                <form action="" method="post">
                    
                    @using (Html.BeginForm())
                    {
                        @Html.ValidationSummary()
                    <h2 id="login">Login</h2>
                        <div class="inputgroup">
                            @Html.LabelFor(x => x.UserName)
                            @Html.EditorFor(x => x.UserName)
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>
                        <div class="inputgroup">
                            @Html.LabelFor(x => x.Password)
                            @Html.EditorFor(x => x.Password)
                            @Html.ValidationMessageFor(x => x.Password)

                        </div>

                        <div class="inputgroup">
                            <button type="submit" class="sub">Login</button>
                        </div>
                        <div class="inputgroup">
                            <input type="button" class="sub" onclick="location.href = 'Signup';" value="Registrer">
                        </div>
                    }
                    </form>
            </div>
        </div>
   </div>
    
    <footer class="footer">
        <div class="footer-content">
            <p class="copyright">
                Copyright &copy; 2020, Team Y4 - All Rights Reserved
            </p>
            <div class="social-list">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>

            </div>

            </div>
        </footer>

            <script src="login.js"></script>
</body>
